@use './colours' as *;

input:focus {
    outline: none;
}
.underline {
    text-decoration: underline;
}

.hover-line {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.bold {
    font-weight: 700;
}

.red {
    color: $Bay-Red;
    font-weight: 700;
}