@use '../../Styles/Partials/fonts' as *;
@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/colours' as *;
@use '../../Styles/Partials/global' as *;

.browse {
    &__hero {
        width: 100%;
        height: 50vw;
        background-image: url('../../Assets/Images/dress-hero-image.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;

        &-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(transparent, #122142);
        }

        &-title {
            color: white;
            font-size: 80px;
            z-index: 1;
        }
    }

    &__top {
        max-width: 1260px;
        padding: 25px;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__path {
        font-size: 14px;
        text-align: left;
        &-container {
            width: 100%;
        }
    }

    &__title {
        font-size: 24px;
        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 50px 0;
        }
    }

    &__count {
        font-size: 16px;
    }

    &__category {
        &-filters {
            width: 100%;
            padding-bottom: 10px;
        }

        &-filter {
            font-size: 18px;
            height: 24px;
            line-height: 24px;
            padding: 0 6px;
            border: none;
            background: transparent;
            cursor: pointer;
            margin-right: 6px;
            &--active {
                background-color: #666;
                color: white;
            }
        }

        &-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 15%;
            cursor: pointer;

            &-image {
                height: 270px;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                &--1 {
                    background-image: url('../../Assets/Images/knit-dress-style.jpg');
                }
                &--2 {
                    background-image: url('../../Assets/Images/pleated-dress-style.jpg');
                }
                &--3 {
                    background-image: url('../../Assets/Images/retro-dress-style.jpg');
                }
                &--4 {
                    background-image: url('../../Assets/Images/party-dress-style.jpg');
                }
                &--5 {
                    background-image: url('../../Assets/Images/cutout-dress-style.jpg');
                }
                &--6 {
                    background-image: url('../../Assets/Images/mini-dress-style.jpg');
                }
            }
            &-title {
                width: 100%;
                text-align: left;
                font-size: 14px;
                padding-left: 6px;
                :hover > & {
                    text-decoration: underline;
                }
            }
        }
    }

    &__categories {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__body {
        max-width: 1260px;
        padding: 25px 40px;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;

        &-filters {
            width: 20%;
            padding: 0 15px;

            &-search {
                &-bar {
                    width: 100%;
                }
                width: 100%;
                color: $Bay-Black;
                border: 1px solid $Bay-Black;
                padding: 6px;
            }
        }

        &-items {
            width: 80%;
        }
    }

    &__filter {
        &-container {
            padding: 18px 0;
            border-bottom: 1px solid #d8d8d8;
        }

        &-header {
            font-size: 14px;
            :hover > & {
                text-decoration: underline;
            }
            &-container {
                cursor: pointer;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &-subheader {
            padding-top: 12px;
            font-size: 12px;
            cursor: pointer;
        }

        &-type {
            font-size: 12px;
            padding-top: 12px;
            padding-left: 15px;
        }
    }
}